html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#container {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #222;
	background-image: url('https://i.imgur.com/PQylK6R.gif');
	background-repeat: repeat;
}

.box {
	width: 20%;
	height: 20%;
	position: relative;
}

#top-left {
	background-color: #333;
	top: 0;
	left: 0;
}

#top-right {
	background-color: #333;
	top: 0;
	right: 0;
}

#bottom-left {
	background-color: #333;
	bottom: 0;
	left: 0;
}

#bottom-right {
	background-color: #333;
	bottom: 0;
	right: 0;
}

#center-text {
	text-align: center;
}

h1 {
	color: white;
	font-family: 'MADE Evolve Sans', sans-serif;
	font-size: 72px;
	margin: 0;
}
