body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2021/02/18/07/09/space-6023043_960_720.jpg");
  background-size: cover;
  animation: darken-brighten 10s infinite;
}

@keyframes darken-brighten {
  0% {
    filter: brightness(100%) contrast(100%);
  }
  50% {
    filter: brightness(50%) contrast(150%);
  }
  100% {
    filter: brightness(100%) contrast(100%);
  }
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#title {
  font-family: "MADE Evolve Sans Font Family", sans-serif;
  font-size: 10vw;
  color: white;
  text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
}

#subtitle {
  font-family: "MADE Evolve Sans Font Family", sans-serif;
  font-size: 3vw;
  color: white;
  text-shadow: 1px 1px 0 #000;
}

.admin-box {
  display: block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  position: absolute;
  color: #fff;
  font-family: "MADE Evolve Sans Font Family", sans-serif;
  font-size: 20px;
  text-decoration: none;
  background-color: #333;
  border: 1px solid #ccc;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0
